* {
  font-family: verdana;
  font-weight: lighter;
}

header {
  background: #333;
  background: -webkit-linear-gradient(top, #646464 0%, #0c0c0c 100%);
  color: white;
}

header {
  display: flex;
  align-items: flex-end;
}

.image {
  height: 317px;
  width: 214px;
  margin-top: 18px;
}

header > h1 {
  height: 74px;
  width: 100px;
  display: inline-block;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
  padding-right: 20px;
  width: 170px;
}

ul li a:hover, ul li a:focus {
  background: -webkit-linear-gradient(top, #646464 0%,  #0c0c0c 100%);
  color: white;
} 

header a:link {
  color:#FFFFFF;
  a.nounderline:link
}

.seemore a:visited {
  color: #70579D;
}

a:visited {
  color:#FFFFFF;
}

section h2.header{
  margin: 0px;
  padding: 0px;
  border-bottom: medium none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: initial;
}

.infobar {
  color: #CCC;
}

.seven-bar {
  background: #EFE3A4;
  border: 6px double white;
  margin: -3px -3px 2px -3px;
  padding: 8px 12px;
  
}

h2 {
  color: #333;
  font-size: 27px;
  font-weight: normal;
  line-height: 27px;
}
